In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/PSRC/_trip.tsv', sep='\t')

In [3]:
df.head()

,id,tour_id,hhno,pno,day,tour,half,tseg,tsvid,opurp,...,deptm,arrtm,endacttm,travtime,travcost,travdist,vot,trexpfac,od,sov_ff_time
0,45201,452,15,1,1,2,1,1,0,0,...,460,480,523,20.143027,0.000,1.007151,0.738360,1,2761-2788,940
1,45251,452,15,1,1,2,2,1,0,7,...,523,543,992,20.143027,0.000,1.007151,0.738360,1,2788-2761,938
2,45101,451,15,1,1,1,1,1,0,0,...,992,1039,1089,47.146712,0.000,2.357336,2.181563,1,2761-2838,1116
3,45151,451,15,1,1,1,2,1,0,6,...,1089,1136,179,47.146712,0.000,2.357336,2.181563,1,2838-2761,1119
4,112101,1121,39,1,1,1,1,1,0,0,...,1004,1021,1023,17.730000,1.074,5.370000,6.842999,1,2761-2959,1749

In [10]:
df_8to9 = df[(df['deptm'] >= 480) & (df['deptm'] <= 540)]

In [27]:
TAZ = sorted(df['otaz'].unique().tolist())
# OD_8to9 = pd.DataFrame()
OD_8to9 = {
    'SOV': (
        df_8to9[df_8to9['mode'] == 3]
        .groupby(['otaz', 'dtaz'])
        .size()
        .unstack(fill_value=0)
        .reindex(index=TAZ, columns=TAZ, fill_value=0)
    )
}

In [28]:
OD_8to9['SOV']

dtaz,1,2,3,4,5,6,7,8,9,10,...,3896,3898,3899,3900,3902,3903,3904,3905,3907,3908
otaz,,,,,,,,,,,,,,,,,,,,,
1,0,0,1,3,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2,4,4,6,5,2,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,6,6,7,7,1,6,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1,6,10,16,5,1,12,1,0,1,...,0,0,0,0,0,0,0,0,0,0
5,1,2,5,2,3,0,7,1,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3903,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3904,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3905,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3907,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3908,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
OD_8to9['SOV'].to_csv('data/PSRC/PSRC_OO/8to9_SOV.csv', index=False)